@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.mine {
  color: #3D22CF;
  background-color: #0A1C8F;
}

.mine2 {
  color: #624DD9;
}

.mine2 {
  color: #8778E3;
}

.mine2 {
  color: #ADA3EC;
}

.mine2 {
  color: #D3CEF6;
}

.mine2 {
  color: #E9E6FA;
}